---
import HeartOutlineIcon from "../icons/HeartOutlineIcon.astro";
import ItemInfoModalIcon from "../icons/ItemInfoModalIcon.astro";
import ThreeDots from "../icons/ThreeDots.astro";
import VerifiedCheckIcon from "../icons/VerifiedCheckIcon.astro";

// Define data structures for reusable components
const itemData = {
    title: "STRAWBERRY DELIGHT",
    collection: "Premium Ice Cream",
    price: "$5.99",
    priceUsd: "Family Size: $12.99",
    availability: "In Stock",
    description:
        "Our signature strawberry ice cream made with fresh, locally sourced strawberries and premium cream. A perfect balance of sweetness and creaminess that will delight your taste buds on hot summer days.",
    likes: 188,
    auctionEndDate: "2025-06-07T19:40:30",
};

const people = [
    {
        type: "Chef",
        extraInfo: "<strong>Award-winning recipe</strong>",
        username: "@master_chef",
        avatar: "img/avatars/avatar_7.jpg",
    },
    {
        type: "Store",
        username: "@frosty_delights",
        avatar: "img/avatars/avatar_1.jpg",
    },
];

const highestBidder = {
    address: "Customer Favorite",
    avatar: "img/avatars/avatar_4.jpg",
};

const countdownUnits = [
    { unit: "Days", jsClass: "js-countdown-days-number" },
    { unit: "Hrs", jsClass: "js-countdown-hours-number" },
    { unit: "Min", jsClass: "js-countdown-minutes-number" },
    { unit: "Sec", jsClass: "js-countdown-seconds-number" },
];
---

<div class="md:flex md:flex-wrap">
    <!-- Image -->
    <figure
        class="mb-8 md:w-2/5 md:flex-shrink-0 md:flex-grow-0 md:basis-auto lg:w-1/2"
    >
        <img
            src="img/products/item_single_large.jpg"
            alt="Strawberry Ice Cream"
            class="cursor-pointer rounded-2.5xl"
            data-bs-toggle="modal"
            data-bs-target="#imageModal"
        />

        <!-- Modal -->
        <div
            class="modal fade"
            id="imageModal"
            tabindex="-1"
            aria-hidden="true"
        >
            <div
                class="modal-dialog !my-0 flex h-full items-center justify-center p-4"
            >
                <img src="img/products/item_single_full.jpg" alt="Strawberry Ice Cream" />
            </div>

            <button
                type="button"
                class="btn-close absolute top-6 right-6"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <ItemInfoModalIcon />
            </button>
        </div>
        <!-- end modal -->
    </figure>

    <!-- Details -->
    <div class="md:w-3/5 md:basis-auto md:pl-8 lg:w-1/2 lg:pl-[3.75rem]">
        <!-- Collection / Likes / Actions -->
        <div class="mb-3 flex">
            <!-- Collection -->
            <div class="flex items-center">
                <a href="collection" class="mr-2 text-sm font-bold text-accent"
                    >{itemData.collection}</a
                >
                <span
                    class="inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-white bg-green dark:border-jacarta-600"
                    data-tippy-content="Premium Quality"
                >
                    <VerifiedCheckIcon />
                </span>
            </div>

            <!-- Likes / Actions -->
            <div class="ml-auto flex space-x-2">
                <div
                    class="flex items-center space-x-1 rounded-xl border border-jacarta-100 bg-white py-2 px-4 dark:border-jacarta-600 dark:bg-jacarta-700"
                >
                    <span
                        class="js-likes relative cursor-pointer before:absolute before:h-4 before:w-4 before:bg-[url('../img/heart-fill.svg')] before:bg-cover before:bg-center before:bg-no-repeat before:opacity-0"
                        data-tippy-content="Favorite"
                    >
                        <HeartOutlineIcon />
                    </span>
                    <span class="text-sm dark:text-jacarta-200"
                        >{itemData.likes}</span
                    >
                </div>

                <!-- Actions -->
                <div
                    class="dropdown rounded-xl border border-jacarta-100 bg-white hover:bg-jacarta-100 dark:border-jacarta-600 dark:bg-jacarta-700 dark:hover:bg-jacarta-600"
                >
                    <a
                        href="#"
                        class="dropdown-toggle inline-flex h-10 w-10 items-center justify-center text-sm"
                        role="button"
                        id="collectionActions"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <ThreeDots />
                    </a>
                    <div
                        class="dropdown-menu dropdown-menu-end z-10 hidden min-w-[200px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl dark:bg-jacarta-800"
                        aria-labelledby="collectionActions"
                    >
                        <button
                            class="block w-full rounded-xl px-5 py-2 text-left font-display text-sm transition-colors hover:bg-jacarta-50 dark:text-white dark:hover:bg-jacarta-600"
                        >
                            Order Now
                        </button>
                        <hr
                            class="my-2 mx-4 h-px border-0 bg-jacarta-100 dark:bg-jacarta-600"
                        />
                        <button
                            class="block w-full rounded-xl px-5 py-2 text-left font-display text-sm transition-colors hover:bg-jacarta-50 dark:text-white dark:hover:bg-jacarta-600"
                        >
                            Nutritional Info
                        </button>
                        <button
                            class="block w-full rounded-xl px-5 py-2 text-left font-display text-sm transition-colors hover:bg-jacarta-50 dark:text-white dark:hover:bg-jacarta-600"
                        >
                            Share
                        </button>
                        <button
                            class="block w-full rounded-xl px-5 py-2 text-left font-display text-sm transition-colors hover:bg-jacarta-50 dark:text-white dark:hover:bg-jacarta-600"
                        >
                            Review
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h1
            class="mb-4 font-display text-4xl font-semibold text-jacarta-700 dark:text-white"
        >
            {itemData.title}
        </h1>

        <p class="mb-10 dark:text-jacarta-300">
            {itemData.description}
        </p>

        <!-- Creator / Owner -->
        <div class="mb-8 flex flex-wrap">
            {
                people.map((person) => (
                    <div class="mr-8 mb-4 flex">
                        <figure class="mr-4 shrink-0">
                            <a href="user" class="relative block">
                                <img
                                    src={person.avatar}
                                    alt={`avatar ${person.username}`}
                                    class="rounded-2lg"
                                    loading="lazy"
                                />
                            </a>
                        </figure>
                        <div class="flex flex-col justify-center">
                            <span class="block text-sm text-jacarta-400 dark:text-white">
                                {person.type}{" "}
                                {person.extraInfo ? (
                                    <Fragment set:html={person.extraInfo} />
                                ) : (
                                    ""
                                )}
                            </span>
                            <a href="user" class="block text-accent">
                                <span class="text-sm font-bold">
                                    {person.username}
                                </span>
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>

        <!-- Product Info -->
        <div
            class="rounded-2lg border border-jacarta-100 bg-white p-8 dark:border-jacarta-600 dark:bg-jacarta-700"
        >
            <div class="mb-8 sm:flex sm:flex-wrap">
                <!-- Product Rating -->
                <div class="sm:w-1/2 sm:pr-4 lg:pr-8">
                    <div
                        class="block overflow-hidden text-ellipsis whitespace-nowrap"
                    >
                        <span
                            class="text-sm text-jacarta-400 dark:text-jacarta-300"
                            >Rated as
                        </span>
                        <a href="user" class="text-sm font-bold text-accent"
                            >{highestBidder.address}</a
                        >
                    </div>
                    <div class="mt-3 flex">
                        <figure class="mr-4 shrink-0">
                            <a href="user" class="relative block">
                                <img
                                    src={highestBidder.avatar}
                                    alt="avatar"
                                    class="rounded-2lg"
                                    loading="lazy"
                                />
                            </a>
                        </figure>
                        <div>
                            <div class="flex items-center whitespace-nowrap">
                                <span
                                    class="text-lg font-medium leading-tight tracking-tight text-green"
                                    >{itemData.price}</span
                                >
                            </div>
                            <span
                                class="text-sm text-jacarta-400 dark:text-jacarta-300"
                                >{itemData.priceUsd}</span
                            >
                        </div>
                    </div>
                </div>
            </div>

            <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#placeBidModal"
                class="inline-block w-full rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
                >Add to Cart</a
            >
        </div>
        <!-- end product info -->
    </div>
</div>
