---
import CompanyLogo from "./icons/CompanyLogo.astro";
import Discord from "./icons/Discord.astro";
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
import Tiktok from "./icons/Tiktok.astro";
import Twitter from "./icons/Twitter.astro";

const socialLinks = [
  { component: Facebook, href: "#" },
  { component: Twitter, href: "#" },
  { component: Discord, href: "#" },
  { component: Instagram, href: "#" },
  { component: Tiktok, href: "#" },
];

const marketPlaceLinks = [
  { label: "All NFTs", href: "#" },
  { label: "Art", href: "#" },
  { label: "Music", href: "#" },
  { label: "Domain Names", href: "#" },
  { label: "Collectibles", href: "#" },
  { label: "Virtual World", href: "#" },
];

const companyLinks = [
  { label: "Explore", href: "#" },
  { label: "About", href: "#" },
  { label: "Contact Us", href: "#" },
  { label: "Our Blog", href: "#" },
  { label: "FAQ", href: "#" },
];

const myAccountLinks = [
  { label: "Authors", href: "#" },
  { label: "Collection", href: "#" },
  { label: "Author Profile", href: "#" },
  { label: "Create Item", href: "#" },
];

---

<footer class="page-footer bg-white dark:bg-jacarta-900">
  <div class="container">
    <div class="grid grid-cols-6 gap-x-7 gap-y-14 pt-24 pb-12 md:grid-cols-12">
      <div class="col-span-full sm:col-span-3 md:col-span-4">
        <!-- Logo -->
        <a href="index.html" class="mb-6 inline-block">
          <CompanyLogo />
        </a>
        <p class="mb-12 dark:text-jacarta-300">
          Create, sell and collect truly rare digital artworks. Powered by
          blockchain technology.
        </p>
        <!-- Socials -->
        <div class="flex space-x-5">
          {
            socialLinks.map(({ component: Icon, href }) => (
              <a href={href} class="group">
                <Icon />
              </a>
            ))
          }
        </div>
      </div>

      <div class="col-span-full sm:col-span-3 md:col-span-2 md:col-start-7">
        <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">
          Marketplace
        </h3>
        <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
          {
            marketPlaceLinks.map(({ label, href }) => (
              <li>
                <a href={href} class="hover:text-accent dark:hover:text-white">
                  {label}
                </a>
              </li>
            ))
          }
      </div>

      <div class="col-span-full sm:col-span-3 md:col-span-2">
        <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">
          Company
        </h3>
        <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
          {
            companyLinks.map(({label, href}) =>
              <li>
                <a href={href}class="hover:text-accent dark:hover:text-white">
                  {label}
                </a>
              </li>
            )
          }
      </div>

      <div class="col-span-full sm:col-span-3 md:col-span-2">
        <h3 class="mb-6 font-display text-sm text-jacarta-700 dark:text-white">
          My Account
        </h3>
        <ul class="flex flex-col space-y-1 dark:text-jacarta-300">
          {
            myAccountLinks.map(({label, href}) =>
              <li>
                <a href={href} class="hover:text-accent dark:hover:text-white"
                  >{label}</a>
              </li>
            )
          }
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-between space-y-2 py-8 sm:flex-row sm:space-y-0"
    >
      <span class="text-sm dark:text-jacarta-400">
        &copy;
        <script>
          document.write(new Date().getFullYear().toString());
        </script>
        Xhibiter — Made by
        <a href="#" class="hover:text-accent">DeoThemes</a>
      </span>
      <ul class="flex flex-wrap space-x-4 text-sm dark:text-jacarta-400">
        <li>
          <a href="#" class="hover:text-accent">Terms and conditions</a>
        </li>
        <li><a href="#" class="hover:text-accent">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</footer>
